<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <p class="info">
                <i class="fa-brands fa-whatsapp"></i> +57 321 877 5416
            </p>
            <p class="info">
                <i class="material-symbols-outlined">mail</i> wm.benchmarking&#64;gmail.com
            </p>
            <p class="info">
                <i class="material-icons">location_on</i> Cali, Colombia.
            </p>
        </div>
        <div class="logo">
            <img src="../../../assets/header.png" alt="Logo" />
        </div>
        <div class="links">
            <p><a href="#quienesSomos"><strong>¿Quiénes somos?</strong></a></p>
            <p><a href="#misionVision">Misión</a></p>
            <p><a href="#misionVision">Visión</a></p>
            <div class="social-media">

                <a href="https://www.facebook.com/profile.php?id=61562943503117" target="_blank" rel="noopener noreferrer">
                    <i class="material-icons">facebook</i>
                </a>
                <a href="https://www.tiktok.com/@wm.sportswear?_t=8ruXjXr8dj6&_r=1" target="_blank" rel="noopener noreferrer">
                    <i class="material-icons">tiktok</i>
                </a>
                <a href="https://www.instagram.com/wm__sportswear/profilecard/?igsh=MXB0cnBjZzI2OHFnYg==" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>