<div class="header">
  <!-- Barra superior -->
  <div class="header-top">
    <p>ENVÍOS GRATIS POR COMPRAS SUPERIORES A 200.000 COP</p>
  </div>

  <!-- Barra de navegación -->
  <div class="header-nav">
    <!-- Logo -->
    <div class="logo">
      <img src="../../../assets/logo_wm.png" alt="Logo" />
    </div>

    <!-- Menú de navegación -->
    <nav class="menu">
      <a href="/">INICIO</a>
      <a href="/hombre">HOMBRE</a>
      <a href="/mujer">MUJER</a>
      <a href="/accesorios">ACCESORIOS</a>
    </nav>

    <!-- Íconos de usuario, carrito y búsqueda -->
    <div class="icons">
      <a *ngIf="isAuthenticated; else loginLink" href="#" (click)="logout()" aria-label="Cerrar sesión">
        <i class="fas fa-sign-out-alt"></i>
      </a>

      <ng-template #loginLink>
        <a aria-label="Usuario" (click)="showLoginModal()">
          <i class="fas fa-user"></i>
        </a>
      </ng-template>
      <app-cart [mostrarCarrito]="mostrarCarritoModal"></app-cart>

      <a href="#" (click)="mostrarCarrito()" aria-label="Carrito">
        <i class="fas fa-shopping-cart"></i>
      </a>


      <a href="#" aria-label="Búsqueda"><i class="fas fa-search"></i></a>
    </div>
  </div>
</div>

<app-login></app-login> <!-- Modal de login -->