<app-header></app-header>

<!-- Filtro de búsqueda y categoría -->
<div class="filter-container">
  <input 
    type="text" 
    [(ngModel)]="searchQuery" 
    (input)="filterProducts()" 
    placeholder="Buscar productos..." 
    class="search-input"
  />

  <select 
    [(ngModel)]="selectedCategory" 
    (change)="onCategoryChange(selectedCategory)" 
    class="category-select"
  >
    <option value="0">Todas las categorías</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.nombre }}
    </option>
  </select>
</div>

<!-- Mostrar los productos en cards -->
<div class="products-container">
  <div class="product-card" *ngFor="let product of filteredProducts">
    <img [src]="product.imagen" alt="{{ product.nombre }}" class="product-image" />
    <div class="product-details">
      <h3>{{ product.nombre }}</h3>
      <p>{{ product.descripcion }}</p>
      <p><strong>Precio:</strong> ${{ product.precio }}</p>
      <button class="btn-ver" (click)="viewProduct(product)">Ver Información</button>
      <button class="btn-agregar" (click)="addToCart(product)">Agregar al Carrito</button>
    </div>
  </div>
</div>

<!-- Modal de Información del Producto -->
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-overlay" (click)="closeModal()"></div> <!-- Clic fuera del modal para cerrarlo -->
  <div class="modal-content">
    <span class="close-btn" (click)="closeModal()">×</span>
    <h2>{{ selectedProduct?.nombre }}</h2>
    
    <!-- Imagen con opción para expandir al hacer clic -->
    <img 
      [src]="selectedProduct?.imagen" 
      alt="{{ selectedProduct?.nombre }}" 
      class="product-image"
      [class.expanded]="isImageExpanded" 
      (click)="toggleImageSize()"
    />

    <p>{{ selectedProduct?.descripcion }}</p>
    <p><strong>Precio:</strong> ${{ selectedProduct?.precio }}</p>
    <p><strong>Stock:</strong> {{ selectedProduct?.stock }}</p>
    <button class="btn-agregar" (click)="addToCart(selectedProduct)" [disabled]="!selectedProduct">Agregar al Carrito</button>
  </div>
</div>



<app-footer></app-footer>
