html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.home {
  display: flex;
  flex-direction: column;  
  height: 100%;            
  justify-content: flex-start; 
  width: 100%;             
  padding: 0;
}

h2, h1 {
  text-align: center;
  color: #333;
}

.misionVision {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
}

.section {
  width: 45%;
  text-align: justify;
  position: relative;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000000; /* Negro */
}

.title span {
  color: #ff0000; /* Rojo */
}

.content {
  font-size: 16px;
  color: #333333; /* Gris oscuro */
  line-height: 1.6;
}
 
.quienesSomos {
  display: flex;
  align-items: flex-start; /* Alinea el contenido al inicio (arriba) */
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff; /* Fondo blanco */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea la imagen al principio */
}


.responsive-img {
  max-width: 100%; 
  height: auto; 
  width: 500px; 
}

@media (max-width: 768px) {
  .responsive-img {
    width: 200px;
  }
}  

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text-container {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos al inicio */
}


.text-container h1 {
  font-size: 32px;
  font-weight: bold;
  color: #000000; /* Negro */
  margin-bottom: 10px;
}

.text-container h1 .highlight {
  color: #808080; /* Gris */
}

.text-container p {
  font-size: 18px;
  color: #333333; /* Gris oscuro */
  margin-top: 5px;
}

.sale {
  display: flex !important;
  flex-direction:column !important;
  gap: 50px !important;
  align-items: center !important;
}

h1 {
  font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans */
  font-weight: 600;  /* Hace el texto en negrita */
  text-align: center; /* Centra el texto horizontalmente */
  margin: 0; /* Elimina márgenes predeterminados */
  height: 20px;
}



.tirita {
  width: 100px;
  height: 40px;
}
