<app-header></app-header>

<div id="video" class="video">
<app-video></app-video>
</div>

<!-- <div id="sale" class="sale">
    <div class="tirita"><app-tirita></app-tirita></div>
    <app-carrusel-sale></app-carrusel-sale>
    <div class="tirita"><app-tirita></app-tirita></div>
</div> -->

<h1>HOMBRE</h1>
<div id="hombre" class="hombre">
    <app-carrusel-hombre></app-carrusel-hombre>
</div>
<h1>MUJER</h1>
<div id="mujer" class="mujer">
    <app-carrusel-mujer></app-carrusel-mujer>
</div>
<h1>ACCESORIOS</h1>
<div id="accesorios" class="accesorios">
    <app-carrusel-accesorios></app-carrusel-accesorios>
</div>

<div id="quienesSomos" class="quienesSomos">
    <div class="image-container">
        <img src="../assets/fotos/Esto_es_wm.jpg" alt="WM Sportwear" class="responsive-img" />
    </div>
    <div class="text-container">
        <h1>Esto es <span class="highlight">WM</span> Sportwear</h1>
    </div>
</div>

<div id="misionVision" class="misionVision">
    <div class="section">
        <h2 class="title">MISI<span>Ó</span>N</h2>
        <p class="content">
            Nuestro compromiso es empoderar a deportistas de todo el mundo, ofreciéndoles prendas que se adaptan a sus
            necesidades, maximizan su desempeño y reflejan su pasión por el deporte. Creemos en la inclusión, la
            diversidad y el poder transformador del deporte para unir a las personas y cambiar vidas.
        </p>
    </div>
    <div class="section">
        <h2 class="title">VISI<span>Ó</span>N</h2>
        <p class="content">
            Ser la marca líder en ropa deportiva a nivel global, reconocida por combinar diseño, innovación y
            sostenibilidad para inspirar a cada atleta y amante del deporte, sin importar su nivel, a alcanzar su máximo
            potencial. Creemos que el deporte es para todos, desde quienes dan sus primeros pasos hasta los campeones
            que conquistan podios.
        </p>
    </div>
</div>

<app-whatsbutton></app-whatsbutton>
<app-footer></app-footer>